@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2");
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2");
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2");
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2");
}
*,::before,::after {
    box-sizing: inherit;
}
html {
    width: 1440px;
    height: 100%;

}
body {
    min-height: 100%;
    margin: 0 auto;
    padding: 0 auto;
    font-family: "Rubik","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    background-color: #E5E5E5;
}
::before, ::after {
    box-sizing: inherit;
}
a {
    text-decoration: none    
}
.main-container{
    margin-left: 140px; 

}

.logo {
    display: block;
    width: 145px;
    height: 36px;
    left: 201px;
    top: 17px;
}
.page-header-logo{
    display: block;
    margin-left: 96px;
    margin-top: 17px;
    margin-left: 201px;
    margin-bottom: -15px;
}
.page-header {
    
}
/* Хеадер */
.navigation{
    width: 1160px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    background: #FFE17F;
    list-style-type: none;
    font-family: "Rubik","Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}
.navigation-list--nav  {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 21px;
    font-family: "Rubik","Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    list-style-type: none;
}
.navigation-item--nav  {
    padding: 15px;
    padding-top: 40px;
}
.navigation-item--search {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 20px;
    margin-left: 96px;   
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
}
.navigation-link--search::before {
    background-image: url(../img/search.svg);
    cursor: pointer;
    position: absolute;
    left: -26px;
    width: 16px;
    height: 16px;
}
.navigation-item--login {
    width: 220px;
    height: 20px;
    padding-top: 40px;
}
.navigation-link--nav {
    position: relative;
}
.navigation-link--nav:hover {
    opacity: .6;
}
.navigation-link--nav:active {
    opacity: .3;
}
.navigation-link--nav:focus {
    position: absolute;
    border: 2px solid #AF4FFF;
    border-radius: 20px;
}

.navigation-link--nav::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}

.navigation-link--login::before {
    position: absolute;
    background-image: url(../img/nav/user.svg);
    left: -25px;
}

.navigation-item--compare {
    width: 100px;
    height: 20px;
    margin-left: 15px;

}
.navigation-link--compare::before {
    position: absolute;
    background-image: url(../img/nav/compare.svg);
    margin-left: -20px;
}
.navigation-item--cart {
    width: 100px;
    height: 20px;
}
.navigation-link--cart::before {
    position: absolute;
    background-image: url(../img/nav/cart.svg);
    margin-left: -20px;   
}

.navigation-link--nav  {
    font-family: "Rubik","Arial" sans-serif;
    font-style: normal;
    font-weight: 700px;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    margin-left: 16px;
}
.nav-list-user{
    display: flex;
    flex-wrap: wrap;
    font-family: "Raleway","Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    list-style-type: none;
    text-decoration: none;
}
.nav-item-user {
    display: flex;
    flex-wrap: wrap;
}
.nav-link-user {
    display: flex;
    flex-wrap: wrap;
    font-family: "Raleway","Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}
.nav-item-user--catalog{
    width: 236px;
    height: 20px;
    margin-left: 60px;
    margin-top: 44px
}
.nav-item-user--delivery{
    width: 140px;
    height: 20px;
    margin-left: 304px;
    margin-top: 44px
}
.nav-item-user--warranty{
    width: 140px;
    height: 20px;
    margin-left: 5px;
    margin-top: 44px
}
.nav-item-user--contacts {
    width: 140px;
    height: 20px;
    margin-left: 60px;
    margin-top: 44px
}
.nav-link-user--catalog {
    position: relative;
}
.nav-link-user::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;    
}
.nav-link-user--catalog::before {
    background-image: url(../img/nav/ellipse.svg);
    position: absolute;  
    right: -65px;
    bottom: -15px;
}


/* Хеадер заканчивается */

/*Слайды с информацией*/
.visually-hidden {
	overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.promo-slider-hidden{
    display: none;
}
.promo-slider {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    margin-top: -140px;
}
.promo-image {
    display: flex;
    width: 560px;

}
.promo-slider-list {
    margin: 40px;
    margin-top: 111px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.promo-slider-item {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 70px;
    padding: 0;
    list-style-type: none;
}
.property {
    width: 160px;
    height: 41;
    font-family: "Rubik","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 30px;
}
.character {
    width: 160px;
    height: 19px;
    font-family: "Rubik","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
.title-promo {
    width: 560px;
    height: 110px;
    margin: 0;
    padding: 0;
    margin-bottom: 19px;
    font-family: "Raleway","Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}
.paragraph {
    width: 560px;
    height: 80px;
    margin: 0;
    padding: 0;
    font-family: "Rubik" ;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
.information-for-users-promo-slider {
    width: 220px;
    height: 20px;
    margin: 0;
    padding: 0;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
/*Слайды с информацией конец*/



/* Каталог */

.equipment-catalog {
    width: 1160px;
    height: 392px;
    margin-top: 70px;

}
.equipment-catalog-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.equipment-catalog-item {
    display: block;
    font-family: "Raleway","Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000; 
    background-color: #FFE17F;
}
.equipment-catalog-link {
    text-decoration: none;
}
.catalog-item {
    width: 160px;
    height: 160px;
    text-decoration: none;
}
.img-catalog--1 {
    width: 97px;
    height: 55px;
    margin-top: 53px;
    margin-left: 32px;
    margin-bottom: 52px;
}
.img-catalog--2 {
    width: 86px;
    height: 117px;
    margin-top: 43px;
    margin-left: 37px;
}
.img-catalog--3 {
    width: 71px;
    height: 87px;
    margin-top: 38px;
    margin-left: 49px;
    margin-bottom: 35px;
}
.img-catalog--4 {
    width: 107px;
    height: 65px;
    margin-top: 50px;
    margin-left: 26px;
    margin-bottom: 45px;
}
.img-catalog--5 {
    width: 56px;
    height: 98px;
    margin-top: 31px;
    margin-left: 53px;
    margin-bottom: 31px;
}
.img-catalog--6 {
    width: 132px;
    height: 69px;
    margin-top: 49px;
    margin-left: 14px;
    margin-bottom: 42px;
}
.name-equipment {
    font-family: "Raleway","Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    margin-top: 33px;
    text-decoration: none;
}

/* Каталог конец */


/* Сервис */


.Services {
    position: relative
}
.services::before {
    content: "";
    position: absolute;
    top: 163px;
    left: 0;
    z-index: -1;
    width: 100%;
    background-color: #e5e5e5;
}
.services-users {
    z-index: 1;
    display: flex;
    padding-bottom: 118px
}
.services-slider__item {
    position: relative;
    order: 2;
    width: 460px;
    margin-left: 120px;
    padding-top: 136px
}
.services-slider__item--delivery::before {
    content: "";
    position: absolute;
    top: 148px;
    right: -234px;
    z-index: 0;
    width: 136px;
    height: 164px;
    background-image: url(../img/delivery.svg);
    background-repeat: no-repeat
}
.services-slider__item--warranty {
    margin-left: 121px
}
.services-slider__item--warranty::before {
    content: "";
    position: absolute;
    top: 124px;
    right: -253px;
    z-index: 0;
    width: 171px;
    height: 195px;
    background-image: url(../img/warranty.svg);
    background-repeat: no-repeat
}
.services-slider__item--credit::before {
    content: "";
    position: absolute;
    top: 124px;
    right: -258px;
    z-index: 0;
    width: 156px;
    height: 188px;
    background-image: url(../img/credit.svg);
    background-repeat: no-repeat;
}
.services-slider__controls {
    position: relative;
    padding-top: 142px;
    padding-right: 120px
}
.services-slider__control {
    position: relative;
    z-index: 1;
    display: block;
    order: 1;
    width: 160px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    font-family: "Raleway","Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    cursor: pointer;
}
.services-slider__controls::after {
    content: "";
    position: absolute;
    top: 63px;
    right: -4px;
    width: 7px;
    height: calc(100% - 15px);
    background-color: #000000;
}
.services-slider__control::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    width: 160px;
    height: 8px;
    margin-top: -4px;
    background-color: #f0c52e;
}
.services-slider__control::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    z-index: -1;
    width: 0;
    height: 40px;
    background-color: rgb(0, 0, 0);
}
.services-slider__item h3 {
    font-family: "Raleway","Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin: 0;
    padding-bottom: 31px
}
.services-slider__item p {
    width: 500px;
    height: 165px;
    left: 540px;
    top: 223px;
    font-family: "Rubik","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;    
}

/* Сервис конец*/



/* Инфо о компании */

.company-information-list {
    width: 1160px;
    height: 936px;
}
.delivery-information {
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    height: 100px;
    margin: 0;
    padding: 0;
    margin-top: 90px;
    background-color: #F0F0F0;
}
.info-img {
    align-self: center;
    margin-left: 40px;
}
.delivery-information--descr {

    font-family: "Raleway","Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.delivery-information-imem {
    margin: 0;
    padding: 0;
}
.delivery-information-link {
    width: 910px;
    height: 20px;
    margin-top: 40px;
    text-align: center; 
    list-style-type: none; 
}
.delivery-img {
    width: 47px;
    height: 31px;
    margin-top: 35px;
    margin-left: 39px;
    margin-right: 39px;
    margin-bottom: 34px;
    background-color: #FFE17F;
    align-items:flex-start;
}


.main-list-descr {
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    height: 515px;
    margin-top: 146px;

}
.main-list {
    width: 560px;
}
.product-description {
    margin-top: 26px;
    margin-bottom: 0px;
    font-family: "Rubik","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    text-align: start;
}
.product-description--1 {
    margin-bottom: 70px;
    
}
.product-description--2 {
    margin-bottom: 27px;
}
.main-list-item {
    width: 497px;
    height: 120px ; 
    margin-bottom: 52px;
    margin-top: 20px;
}
.main-list-link {
    font-family: "Rubik","Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 20px;
}
.information-for-users-company {
    width: 260px;
    height: 20px; 
    margin-top: 32px;
    font-family: "Raleway","Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000; 
}
.name-im {
    height: 30px;
    font-family: "Rubik","Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #444444;    
}
.contacts-address {
    margin-top: 15px;
    margin-bottom: 20px;
}
.contacts-address-text {
    margin: 0px;
    font-family: "Rubik","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;    
}
.contacts-phone {
    font-family: "Rubik","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;  
    text-decoration-line: underline;
    color: #444444;    
}
.contacts-schedule {
    margin-top: 20px;
    margin-bottom: 57px;
}
.contacts-schedule-item {
    font-family: "Rubik","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;  
    color: #444444; 
}
.information-for-users-mail {
    font-family: "Raleway","Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;     
}
.description {
    margin: 0px;
    height: 70px;
    font-family: "Raleway","Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}
.site-headerюышеу-руфвук


/* Инфо о компании  конец*/


/* Рассылка */


.subscription {
    width: 1160px; 
    height: 421px; 
}
.subscription-container {
    display: flex;
    flex-wrap: wrap;
}
.mailing {
    margin: 0px;
    font-family: "Raleway","Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000; 
}
.subscription-item {
    font-family: "Rubik","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;    
}
.appointment-form-name {
    margin-top: 53px;
}
.subscription-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mailing-subscription {
    width: 560px;
    height: 120px;
    margin: 0;
}
.subscription-list {
    width: 560px;
}
.subscription-item {
    font-family: "Rubik","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;    
}
.free {
    width: 164px;
}
.tick-big {
    margin-right: 21px;
}
. button {
    font-family: "Raleway","Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;    
    opacity: 0.1;
    border: 3px solid #000000;
    box-sizing: border-box;   
}
/* Рассылка конец */

/* footer */


.footer {
    margin-top: 131px;
    background: #444444;    
}
.image-DEVICE {
    margin-left: 140px;
    margin-top: 72px;
}
.navigation-footer {
    width: 1160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 140px;
    margin-top: 35px;
    align-items: center;
}
.page-footer__address {
    font-family: "Rubik","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;    
}
.navigation-list__footer {
    display: flex;
    justify-content: space-around;
    width: 480px;
    height: 20px;
    list-style-type: none;
}
.navigation-link__footer {
    font-family: "Raleway","Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; 
    text-decoration: none;  
}
.navigation-item__footer {
    width: 148px;
    height: 20px;
    margin: 7px;
    text-align: center;
}
.footer a {
    font-family: "Rubik","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;     
    color: #FFFFFF;    
}
.social-network {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.social-network__list {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 155px;
}

.sa:hover {
    cursor: pointer;
    background-color: #fdd90a ;
    border-radius: 50%;
}
.stripe {
    border: solid 3px #ffc700;
    background-color: #ffc700;
    transform: rotate(90deg);
}



/* footer конец*/

/* КАТАЛЛОГ МОНОПОДЫ */
.color {
    background-color: #FFFFFF;
}

.main-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.inner-header {
    width: 1160px;
    height: 150px;
    margin-left: 200px;
    
}
.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 ;
    list-style-type: none;
}
.breadcrumbs-item{
    position: relative;
    padding-right: 36px;
    font-family: "Rubik","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;   
}
.breadcrumbs-item:nth-child(2){
    padding-right: 34px;
}
.breadcrumbs-item::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 19px;
    width: 5px;
    height: 5px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.breadcrumbs-item:last-child::after {
    display: none
}



/* Фильтр */

.filter-product {

    
}
.catalog {

}
.sidebar__title-wrap{
    display: flex;
    width: 468px;
    height: 70px;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    background: #DCDCDC;
}
.catalog-filter-group {
    margin-left: 200px;
    width: 234px;
}
.catalog-filter {
    background: #E5E5E5;
}
/* Фильтр  конец*/


/* Каталог */

.sorting {
    font-family: "Raleway","Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;    
}
.sorting-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 70px;
    background: #EBEBEB;
    align-items: center;
    padding-left: 72px;
}
.sorting {
    width: 200px;
}
.select-control {
    margin-left: ;
    justify-content: space-around;
}
.product-list {
    display: grid;
    margin-top: 69px;
    margin-left: 72px;
    padding: 0px;
    grid-template-columns:  360px 360px;
    grid-template-rows: 506px 506px;
    gap: 40px 44px;
    list-style-type: none;
}
.product--1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.product--2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.product--3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3 ;
}
.product--4 {
    grid-column: 2 / 3;
    grid-row:  2 / 3;
}
.pagination{
    list-style-type: none;
}
.product-info {
    display: flex;
    justify-content: space-between;
}
.product-card-title {
    width: 280px;
    height: 50px;
}
.product-card-price {

}
.pagination {
    order: 2;
    display: flex;
    justify-content: space-between;
}
.pagination-show-more {
    width: 760px;
    height: 55px;
    opacity: 0.1;
    border: 3px solid #000000;
    box-sizing: border-box;
    order: -1;
    margin-left: 72px;
}


 /* КАТАЛЛОГ МОНОПОДЫ  конец*/