@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2");
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/ribik-800.woff2");
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/raleway/ribik-400.woff2");
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/raleway/ribik-700.woff2");
}
body {
    font-family: "Raleway", sans-serif;
    background: #E5E5E5;

}
.visually-hidden {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.navigation-link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}
.search {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
}
.equipment-catalog-item {
    display: flex;
    justify-content: space-around;
} 
.navigation {
    width: 1160px;
    display: flex;
}
div.search {
    width: 480px;
    display: inline;
}
.navigation-item {
    width: 220px;
    display:flex;
}