@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2");
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/ribik-800.woff2");
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/raleway/ribik-400.woff2");
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/raleway/ribik-700.woff2");
}
html {
    width: 1440px;
    height: 100%;

}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-family: "Rubik","Arial" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    background: #E5E5E5;
}
.logo {
    display: block;
    width: 145px;
    height: 36px;
    left: 201px;
    top: 17px;
}
.page-header-logo{
    display: block;
    margin-left: 96px;
    margin-top: 17px;
    margin-left: 201px;
    margin-bottom: -27px;
}
/* Хеадер */
.navigation{
    width: 1160px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    background: #FFE17F;
    list-style-type: none;
    font-family: "Rubik","Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}
.navigation-item__navigation-search {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 20px;
    margin-top: 40px;
    margin-left: 96px;
}
.navigation-item--login {
    width: 220px;
    height: 20px;
    margin-top: 40px;
    margin-left: 49px;
}
.navigation-item--compare {
    width: 100px;
    height: 20px;
    margin-left: 15px;
    margin-top: 40px;
}
.navigation-item--cart {
    width: 100px;
    height: 20px;
    margin-left: 15px;
    margin-top: 40px;
}
.navigation-item {
    display: flex;
    flex-wrap: wrap;
    justify-self: space-between;
}

.navigation-list {
    display: flex;
    font-family: "Rubik","Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    list-style-type: none;
}

.navigation-link {
    display: block;
    flex-wrap: wrap;
    height: 60px;
    font-family: "Rubik","Arial" sans-serif;
    font-style: normal;
    font-weight: 700px;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.nav-list-user{
    display: flex;
    flex-wrap: wrap;
    font-family: "Raleway","Arial" sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    list-style-type: none;
}
.nav-item-user {
    display: flex;
    flex-wrap: wrap;
}
.nav-link-user {
    display: flex;
    flex-wrap: wrap;
    font-family: "Raleway","Arial" sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.nav-item-user--catalog{
    width: 236px;
    height: 20px;
    margin-left: 60px;
    margin-top: 44px
}
.nav-item-user--delivery{
    width: 140px;
    height: 20px;
    margin-left: 304px;
    margin-top: 44px
    
}
.nav-item-user--warranty{
    width: 140px;
    height: 20px;
    margin-left: 5px;
    margin-top: 44px
}
.nav-item-user--contacts {
    width: 140px;
    height: 20px;
    margin-left: 60px;
    margin-top: 44px
}
/* Хеадер заканчивается */
.main-container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
.page-container {
    width: 1160px;
    display: grid;
}
.promo-slider-item {
    display: grid;

}
.promo-slider {
    display: inline;
    margin: 0;
    padding: 0;
}
.image {
    display: grid;
    width: 560px;
    height: 560px;
    border: #E5E5E5; 
}
.promo-slider-item {
    right: auto;
}
.promo-slider-link {
    display: flex;
    margin-left: auto;
}
.promo-slider3 {
    display: flex;
}
.equipment-catalog {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    height: 392px;
    margin: 0;
    padding: 0;
}
.equipment-catalog-list{
    display: flex;
}


/* Каталог */
.equipment-catalog-item {
    display: block;
    font-family: "Raleway","Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    padding: 20px;
    margin-top: 50px;
}
.img-catalog {
    background: #FFE17F;
}


.delivery-information-list {
    display: flex;
    width: 1160px;
    height: 100px;
    font-family: "Raleway", "Arial" sans-serif;
    font-style: normal;
    margin: 0 auto;
    padding: 0 auto;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;    
    background: #F0F0F0;
}
.delivery-information-link {
    display: block;
    flex-wrap: wrap;
    width: 910px;
    height: 20px;
    font-family: "Raleway", "Arial" sans-serif;
    font-style: normal;
    margin: auto;
    padding: auto;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: center;
}
.delivery-img {
    display: flex;
    padding-top: 35px;
    padding-bottom: 33px;
    padding-left: 37px;
    padding-right: 37px;
    margin-left: 0 auto;
    background: #FFE17F;
}
.company-information-list {
    display: flex;
    flex-wrap: wrap;
    Width: 560px;
    height: 650px;
    margin-left: 0 auto;
    padding: 0 auto;
    border: solid 1px;
}
.company-list {
    display: flex;
}
.contacts {
    display: flex;
    Width: 560px;
    height: 650px;
    margin-right: 0 auto;
    padding: 0 auto;
    border: solid 1px;
}

.button {
    font-family: "Raleway","Arial";
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;

.button-two {
    font-family: "Raleway","Arial" ;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.button-one {
    font-family: "Raleway","Arial" ;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.information-for-users-list {
    font-family: "Rubik","Arial" ;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}